{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block header %}
{{ title }}
{% endblock %}

{% block content %}

<div class="todo_container">
    {% for task in dbData %}
    {% if task['done'] == true %}
    <div class="todo_body completed">
        <ul>
            <li>{{ task['description'] }}</li>
        </ul>
    </div>
     <button type="button" class="btn"><a href='/todos/done/{{task['id']}}'>Unmark</a></button>
     <button type="button" class="btn btn_kill"><a href='/todos/delete/{{task['id']}}'>Delete</a></button>
    {% else %}
    <div class="todo_body uncompleted">
        <ul>
            <li>{{ task['description'] }}</li>
        </ul>
    </div>
    <button type="button" class="btn"><a href='/todos/done/{{task['id']}}'>Complete</a></button>
    <button type="button" class="btn btn_kill"><a href='/todos/delete/{{task['id']}}'>Delete</a></button>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}