* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
html {
    font-size: 65.5%;
}


.header {
    height: 7rem;
    background-color: #FF8200;
    display: block;
}

.heading {
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.index-body {
    padding-top: 10%;
    text-align: center;
    font-size: 2rem;
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}

.form_container {
     width: 50rem;
     height: 25rem;
     border: 2px solid black;
     background-color: grey;
     border-radius: 4px;
     font-size: 3rem;
     margin-left: 25vw;
}

.todo_body {
    width: 50vw;
    height: 5rem;
    font-size: 2rem;
    border: 1.5px solid #fff;
    /*background: grey;*/
    padding-left: 1rem;
    margin-left: 10vw;
    border-radius: 4px;
    line-height: 5rem;
}

.todo_body ul {
    list-style-type: none;
}

.completed {
    background-color: green;
}
.uncompleted {
    background-color: grey;
}
.btn {
    background-color: black;
    width: 10rem;
    font-size: 1.75rem;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid border;
}
.btn_kill {
    background-color: red;
}

.todo_container li, button{
    display: inline-block;
}
.todo_container a {
    color:white;
    text-decoration: none;
}

input[type="text"] {
    font-size: 1.5rem;
}
input[type="submit"] {
    font-size: 3rem;
}
form {
    line-height: 5rem;
}